compounds/math/bool.json
compounds/math/float.json
compounds/math/float3.json
compounds/math/int.json
compounds/math/long.json
compounds/math/make_value.json
compounds/math/matrix4.json
compounds/math/string.json
